{% extends 'base.html.twig' %}

{% block title %}Все пользователи{% endblock %}

{% block body %}
    <div class="b-popup mx-auto fixed-top" style="width: 600px" id="editForm">
        <div class="card">
            <form class="px-4 py-3" method="post"  id="edit_user" action="">
                <div class="form-group">
                    <label>Имя *</label>
                    <input name="first_name" id="first_name_popup" type="text" class="form-control" required {% if first_name is defined %}
                        value="{{ first_name }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label>Фамилия *</label>
                    <input name="last_name" id="last_name_popup" type="text"  class="form-control" required {% if last_name is defined %}
                        value="{{ last_name }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label>Почта *</label>
                    <input name="email" id="email_popup" type="email" class="form-control" required {% if email is defined %}
                        value="{{ email }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label>Компания</label>
                    <input name="company_name" id="company_name_popup" type="text" class="form-control" {% if company_name is defined %}
                        value="{{ company_name }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label>Положение</label>
                    <input name="position" id="position_popup" type="text" class="form-control" {% if position is defined %}
                        value="{{ position }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label>Телефон 1</label>
                    <input name="telephone_1" id="phone_1" type="tel" class="form-control" {% if phone_1 is defined %}
                        value="{{ phone_1 }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label>Телефон 2</label>
                    <input name="telephone_2" id="phone_2" type="tel" class="form-control" {% if phone_2 is defined %}
                        value="{{ phone_2 }}" {% endif %}>
                </div>
                <div class="form-group">
                    <label>Телефон 3</label>
                    <input name="telephone_3" id="phone_3" type="tel" class="form-control"    {% if phone_3 is defined %}
                        value="{{ phone_3 }}" {% endif %}>
                </div>
                <div>
                    <a href="javascript:popUpHide()">
                        <button type="button" class="btn btn-secondary" style="margin-right: 5px" >Отмена</button>
                    </a>
                    <button id="send_new_data" type="submit" class="btn btn-primary float-right">Сохранить</button>
                </div>

            </form>

        </div>
    </div>
    {% if countOfWorkers == 0 %}
        <div class="p-3 mb-2 bg-warning text-dark">Нет ни одного пользователя</div>
    {% endif %}
    {% if error_message is defined%}
    {% endif %}

    <div class="mx-auto" style="width: 600px">
        <a href="{{ path('create_user') }}">Добавить нового пользователя</a>
    {% if workers is defined %}
        {% for worker in workers %}
            <div class="card">
                <div class="card-header">
                   {{ loop.index + 10 * (current - 1) }}
                </div>
                <div class="card-body">
                    <ul>
                        <li>{{ worker.firstName }}</li>
                        <li>{{ worker.lastName }}</li>
                        <li>{{ worker.email }}</li>
                        {% if worker.companyName is not empty %}<li>{{ worker.companyName }}</li>{% endif %}
                        {% if worker.position is not empty %}<li>{{ worker.position }}</li>{% endif %}
                        {% if worker.telephone1 is not empty %}<li>{{ worker.telephone1 }}</li>{% endif %}
                        {% if worker.telephone2 is not empty %}<li>{{ worker.telephone2 }}</li>{% endif %}
                        {% if worker.telephone3 is not empty %}<li>{{ worker.telephone3 }}</li>{% endif %}
                    </ul>
                </div>
                <div>
                    <a href="javascript:popUpShow({{ worker.id }})"><button class="btn btn-primary btn-sm float-right" style="margin-bottom: 20px;margin-right: 20px">
                        Редактировать</button>
                    </a>
                    <a href="{{ path('delete_by_id', {'id': worker.id}) }}">
                        <button class="btn btn-secondary btn-sm float-right" style="margin-right: 5px" >Удалить</button>
                    </a>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for index in indexes %}
                <li class="page-item  {% if index == current %} active {%  endif %} ">
                    <a class="page-link" href="{{ path('management', {'id': index}) }}">{{ index }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    </div>

{% endblock %}
