{% extends 'base.html.twig' %}

{% block title %}Добавление нового человека{% endblock %}


{% block body %}
<div>
    <div>
        <a href="{{ path('management_redirect') }}">Просмотреть всех юзеров</a>
    </div>

    {% if error_list is defined %}
        <div class="p-3 mb-2 bg-danger text-white">
            Ошибочки вышли
            <ul>
                <li>{{ error_list }}</li>
            </ul>
        </div>
    {% elseif success_mess is defined %}
        <div class="p-3 mb-2 bg-success text-white">
            Операция прошла успешно
            <ul>
                <li>{{ success_mess }}</li>
            </ul>
        </div>

    {% endif %}
</div>

<div class="mx-auto" style="width: 600px">
    {#  В зависимости от сценария, сообщение пользователю будет разное  #}
    {% if header is defined %}
        <h1>header</h1>
    {% endif %}
    <form class="px-4 py-3" method="post" id="add_new_user" action="{{ path('add_user') }}">
        <div class="form-group">
            <label>Имя *</label>
            <input name="first_name" type="text" class="form-control" required {% if first_name is defined %}
                value="{{ first_name }}" {% endif %}>
        </div>
        <div class="form-group">
            <label>Фамилия *</label>
            <input name="last_name" type="text"  class="form-control" required {% if last_name is defined %}
                value="{{ last_name }}" {% endif %}>
        </div>
        <div class="form-group">
            <label>Почта *</label>
            <input name="email" type="email" class="form-control" required {% if email is defined %}
                value="{{ email }}" {% endif %}>
        </div>
        <div class="form-group">
            <label>Компания</label>
            <input name="company_name" type="text" class="form-control" {% if company_name is defined %}
                value="{{ company_name }}" {% endif %}>
        </div>
        <div class="form-group">
            <label>Положение</label>
            <input name="position" type="text" class="form-control" {% if position is defined %}
                value="{{ position }}" {% endif %}>
        </div>
        <div class="form-group">
            <label>Телефон 1</label>
            <input name="telephone_1" type="tel" class="form-control" {% if phone_1 is defined %}
                value="{{ phone_1 }}" {% endif %}>
        </div>
        <div class="form-group">
            <label>Телефон 2</label>
            <input name="telephone_2" type="tel" class="form-control" {% if phone_2 is defined %}
                value="{{ phone_2 }}" {% endif %}>
        </div>
        <div class="form-group">
            <label>Телефон 3</label>
            <input name="telephone_3" type="tel" class="form-control"    {% if phone_3 is defined %}
                value="{{ phone_3 }}" {% endif %}>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

{% endblock %}
